Software/NodeRed Dashboard/Job.txt
[{"id":"ce6b4985.967e1","type":"ui_dropdown","z":"ec4f2ab3.c0891","name":"","label":"Film type:","tooltip":"","place":"na","group":"7277ccb6.a22c7c","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"n/a","value":"na","type":"str"},{"label":"Agfa 8E75-HD","value":"agfa75hd","type":"str"},{"label":"Fuji","value":"fuji","type":"str"}],"payload":"","topic":"film","x":400,"y":200,"wires":[["395ee3f0.34ce84"]]},{"id":"7218c585.5840a4","type":"ui_text_input","z":"ec4f2ab3.c0891","name":"","label":"Project name","tooltip":"","group":"4efe5e09.3bd9e","order":1,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":410,"y":460,"wires":[["137ec86d.505b3"]]},{"id":"e1eb9d95.566c6","type":"ui_text_input","z":"ec4f2ab3.c0891","name":"","label":"Description","tooltip":"","group":"4efe5e09.3bd9e","order":2,"width":"0","height":"0","passthru":true,"mode":"text","delay":300,"topic":"","x":410,"y":500,"wires":[["8926b1bc.6d23c"]]},{"id":"b08fd3d2.4b114","type":"ui_button","z":"ec4f2ab3.c0891","name":"","group":"4efe5e09.3bd9e","order":4,"width":0,"height":0,"passthru":false,"label":"Save project","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":410,"y":640,"wires":[["a6c02073.319d8","ff91527d.333918"]]},{"id":"a76bd199.2f046","type":"ui_button","z":"ec4f2ab3.c0891","name":"","group":"4efe5e09.3bd9e","order":7,"width":0,"height":0,"passthru":false,"label":"Load project","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":940,"wires":[["cb45e6bb.636cd"]]},{"id":"c90c180.370c968","type":"ui_text_input","z":"ec4f2ab3.c0891","name":"","label":"Ref. beam (µJ/cm²)","tooltip":"Measured power at film plane ","group":"47c32eda.cb96a8","order":2,"width":0,"height":0,"passthru":false,"mode":"number","delay":300,"topic":"","x":430,"y":260,"wires":[["2c58b958.bc77ae"]]},{"id":"92a18d70.71af28","type":"ui_text_input","z":"ec4f2ab3.c0891","name":"","label":"Obj. beam (µJ/cm²)","tooltip":"Measured power at film plane ","group":"47c32eda.cb96a8","order":1,"width":0,"height":0,"passthru":false,"mode":"number","delay":300,"topic":"","x":430,"y":340,"wires":[["6f19be61.7aeca"]]},{"id":"c8cf567b.0ddc88","type":"ui_text_input","z":"ec4f2ab3.c0891","name":"","label":"Angle of incidence (deg)","tooltip":"Ref. beam angle of indence to normal to film","group":"47c32eda.cb96a8","order":3,"width":0,"height":0,"passthru":false,"mode":"number","delay":300,"topic":"","x":450,"y":300,"wires":[["371a08eb.5d7c48"]]},{"id":"2bd31837.7fec2","type":"ui_text_input","z":"ec4f2ab3.c0891","name":"","label":"Exposure time (sec)","tooltip":"","group":"ec14b85a.af623","order":1,"width":0,"height":0,"passthru":false,"mode":"number","delay":300,"topic":"","x":1140,"y":260,"wires":[["5207686b.15da78"]]},{"id":"cfdfca8.6614538","type":"ui_text_input","z":"ec4f2ab3.c0891","name":"","label":"Comment","tooltip":"","group":"4efe5e09.3bd9e","order":3,"width":"0","height":"0","passthru":true,"mode":"text","delay":300,"topic":"","x":400,"y":540,"wires":[["1f8d248f.2b3183"]]},{"id":"c1967973.672ce8","type":"function","z":"ec4f2ab3.c0891","name":"Exposure Func","func":"var exposure;\nvar scale = Math.pow(10, 1);//for rounding purposes\n\nswitch(global.get(\"ProjectFilm\"))\n{\n  case \"agfa75hd\":\n//    exposure = global.get(\"ProjectObjPow\") + global.get(\"ProjectRefPow\");\n    exposure = global.get(\"ProjectObjPow\") + (global.get(\"ProjectRefPow\") * Math.cos(global.get(\"ProjectRefAngle\")*Math.PI/180));\n    break;\n  case \"fuji\":\n    text = \"I am not a fan of orange.\";\n    break;\n  default:\n    text = \"I have never heard of that fruit...\";\n    \n}\nmsg.payload = Math.round(exposure * scale) / scale;\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":260,"wires":[["2bd31837.7fec2","fd538ebd.b16a78"]]},{"id":"14bfd22e.935ca6","type":"function","z":"ec4f2ab3.c0891","name":"Context","func":"var msg0={};\nvar msg1={};\nvar msg2={};\nvar msg3={};\nvar msg4={};\nvar msg5={};\nvar msg6={};\n\nmsg0.payload = global.get(\"ProjectName\");\nmsg1.payload = global.get(\"ProjectDescription\");\nmsg2.payload = global.get(\"ProjectComment\");\nmsg3.payload = global.get(\"ProjectFilm\");\n\nmsg4.payload = global.get(\"ProjectRefPow\");\nmsg5.payload = global.get(\"ProjectRefAngle\");\nmsg6.payload = global.get(\"ProjectObjPow\");\n\n\nreturn [msg0,msg1,msg2,msg3,msg4,msg5,msg6];","outputs":7,"noerr":0,"x":160,"y":400,"wires":[["7218c585.5840a4"],["e1eb9d95.566c6"],["cfdfca8.6614538"],["ce6b4985.967e1"],["c90c180.370c968"],["c8cf567b.0ddc88"],["92a18d70.71af28"]]},{"id":"e768c29c.56a29","type":"inject","z":"ec4f2ab3.c0891","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":660,"wires":[["14bfd22e.935ca6","ff91527d.333918"]]},{"id":"137ec86d.505b3","type":"function","z":"ec4f2ab3.c0891","name":"Context","func":"global.set(\"ProjectName\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":460,"wires":[[]]},{"id":"8926b1bc.6d23c","type":"function","z":"ec4f2ab3.c0891","name":"Context","func":"global.set(\"ProjectDescription\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":500,"wires":[[]]},{"id":"1f8d248f.2b3183","type":"function","z":"ec4f2ab3.c0891","name":"Context","func":"global.set(\"ProjectComment\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":540,"wires":[[]]},{"id":"395ee3f0.34ce84","type":"function","z":"ec4f2ab3.c0891","name":"Context ","func":"global.set(\"ProjectFilm\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":200,"wires":[["c1967973.672ce8"]]},{"id":"2c58b958.bc77ae","type":"function","z":"ec4f2ab3.c0891","name":"Context ","func":"global.set(\"ProjectRefPow\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":260,"wires":[["c1967973.672ce8"]]},{"id":"371a08eb.5d7c48","type":"function","z":"ec4f2ab3.c0891","name":"Context ","func":"global.set(\"ProjectRefAngle\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":300,"wires":[["c1967973.672ce8"]]},{"id":"6f19be61.7aeca","type":"function","z":"ec4f2ab3.c0891","name":"Context ","func":"global.set(\"ProjectObjPow\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":340,"wires":[["c1967973.672ce8"]]},{"id":"a6c02073.319d8","type":"function","z":"ec4f2ab3.c0891","name":"Project Data","func":"var d=new Date();\n\nfunction now() {\n var intl=new Intl.DateTimeFormat(\"fr\",  \n {\n   hour12: false,\n   hour: \"2-digit\",\n   minute: \"2-digit\",\n   second:\"2-digit\",\n   day:\"2-digit\",\n   month:\"2-digit\",\n   year:\"numeric\"\n });\n return intl.format(d);\n}\n\nfunction S_now() {\n var fn = (d.getFullYear()*100 + d.getMonth()+1)*100 + d.getDate();\n var DT = \"\";\n DT = global.get(\"ProjectName\")+'_'+fn+'_'+d.getHours()+d.getMinutes()+d.getSeconds()+\".txt\";\n return DT;\n}\n\npayload = {\n            \"date\":now(),\n            \"ProjectName\":global.get(\"ProjectName\"),\n            \"ProjectDescription\":global.get(\"ProjectDescription\"),\n            \"ProjectComment\":global.get(\"ProjectComment\"),\n            \"ProjectFilm\":global.get(\"ProjectFilm\"),\n            \"ProjectRefPow\":global.get(\"ProjectRefPow\"),\n            \"ProjectRefAngle\":global.get(\"ProjectRefAngle\"),\n            \"ProjectObjPow\":global.get(\"ProjectObjPow\"),\n            \"ProjectExpo\":global.get(\"ProjectExpo\")\n};\n\nmsg.payload = payload;\nmsg.filename = \"/home/pi/HoloLab/\";\nmsg.filename += S_now();\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":640,"wires":[["7425e91c.9f2248"]]},{"id":"7425e91c.9f2248","type":"json","z":"ec4f2ab3.c0891","name":"","property":"payload","action":"","pretty":false,"x":770,"y":640,"wires":[["9e0bc82e.5b95b8","e3daad6b.652458"]]},{"id":"9e0bc82e.5b95b8","type":"file","z":"ec4f2ab3.c0891","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":910,"y":640,"wires":[[]]},{"id":"fd538ebd.b16a78","type":"function","z":"ec4f2ab3.c0891","name":"Context ","func":"global.set(\"ProjectExpo\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":320,"wires":[[]]},{"id":"ff91527d.333918","type":"dir2files","z":"ec4f2ab3.c0891","name":"","dirname":"/home/pi/HoloLab","pathRegex":"txt","isRecursive":false,"findDir":false,"isArray":true,"x":600,"y":780,"wires":[["554797c2.29cc28"]]},{"id":"180ba554.dd5a43","type":"inject","z":"ec4f2ab3.c0891","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":760,"wires":[["ff91527d.333918"]]},{"id":"36bb9466.521fac","type":"ui_dropdown","z":"ec4f2ab3.c0891","name":"","label":"Saved projects","tooltip":"","place":"Select file","group":"4efe5e09.3bd9e","order":6,"width":"0","height":"0","passthru":false,"options":[],"payload":"","topic":"","x":960,"y":780,"wires":[["644b4846.80f2a"]]},{"id":"554797c2.29cc28","type":"function","z":"ec4f2ab3.c0891","name":"Trim paths","func":"var i;\nvar toto;\nvar array;\nfor (i = 0; i < msg.payload.length; i++) \n{\n    toto = msg.payload[i];\n    array = toto.split('/'); \n    msg.payload[i] = array[4];\n}\nmsg.options = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":780,"wires":[["36bb9466.521fac"]]},{"id":"84b86e6e.dd4908","type":"ui_text","z":"ec4f2ab3.c0891","group":"4efe5e09.3bd9e","order":5,"width":"9","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":1030,"y":500,"wires":[]},{"id":"644b4846.80f2a","type":"function","z":"ec4f2ab3.c0891","name":"Context","func":"var path = \"/home/pi/HoloLab/\"+msg.payload;\nglobal.set(\"ProjectLoad\", path);\nmsg.payload = path;\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":780,"wires":[["fbed2642.b01bd"]]},{"id":"fbed2642.b01bd","type":"debug","z":"ec4f2ab3.c0891","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1100,"y":880,"wires":[]},{"id":"cb45e6bb.636cd","type":"function","z":"ec4f2ab3.c0891","name":"Context","func":"msg.filename = global.get(\"ProjectLoad\");\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":940,"wires":[["3098cd64.56d22a"]]},{"id":"3098cd64.56d22a","type":"file in","z":"ec4f2ab3.c0891","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":430,"y":940,"wires":[["96887901.b573a"]]},{"id":"96887901.b573a","type":"json","z":"ec4f2ab3.c0891","name":"","property":"payload","action":"","pretty":false,"x":570,"y":940,"wires":[["1365368a.470b89","e3daad6b.652458"]]},{"id":"1365368a.470b89","type":"function","z":"ec4f2ab3.c0891","name":"Context","func":"var exp = msg.payload.ProjectExpo;\n\nglobal.set(\"ProjectName\", msg.payload.ProjectName);\nglobal.set(\"ProjectDescription\", msg.payload.ProjectDescription);\nglobal.set(\"ProjectComment\", msg.payload.ProjectComment);\nglobal.set(\"ProjectFilm\", msg.payload.ProjectFilm);\nglobal.set(\"ProjectLoad\", msg.payload.ProjectLoad);\n\nglobal.set(\"ProjectRefPow\", msg.payload.ProjectRefPow);\nglobal.set(\"ProjectRefAngle\", msg.payload.ProjectRefAngle);\nglobal.set(\"ProjectObjPow\", msg.payload.ProjectObjPow);\nglobal.set(\"ProjectExpo\", msg.payload.ProjectExpo);\n\nmsg.payload = exp;\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":940,"wires":[["14bfd22e.935ca6","3f7f208a.3f3bd"]]},{"id":"3f7f208a.3f3bd","type":"delay","z":"ec4f2ab3.c0891","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":910,"y":940,"wires":[["2bd31837.7fec2","fbed2642.b01bd"]]},{"id":"e3daad6b.652458","type":"debug","z":"ec4f2ab3.c0891","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":720,"y":1040,"wires":[]},{"id":"5207686b.15da78","type":"function","z":"ec4f2ab3.c0891","name":"Context ","func":"global.set(\"ProjectExpo\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1340,"y":260,"wires":[[]]},{"id":"32fec733.886528","type":"debug","z":"ec4f2ab3.c0891","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1280,"y":340,"wires":[]},{"id":"7277ccb6.a22c7c","type":"ui_group","z":"","name":"Film","tab":"6b0fdaee.dd7064","order":2,"disp":true,"width":"6","collapse":false},{"id":"4efe5e09.3bd9e","type":"ui_group","z":"","name":"Project","tab":"6b0fdaee.dd7064","order":1,"disp":true,"width":"9","collapse":false},{"id":"47c32eda.cb96a8","type":"ui_group","z":"","name":"Power","tab":"6b0fdaee.dd7064","order":3,"disp":true,"width":"6","collapse":false},{"id":"ec14b85a.af623","type":"ui_group","z":"","name":"Exposure","tab":"6b0fdaee.dd7064","order":4,"disp":true,"width":"6","collapse":false},{"id":"6b0fdaee.dd7064","type":"ui_tab","z":"","name":"Job","icon":"dashboard","order":3,"disabled":false,"hidden":false}]