Software/NodeRed Dashboard/Lasers.txt
[{"id":"5fe26397.eee174","type":"ui_switch","z":"3ff2d1ca.bea54e","name":"","label":"Shutter","tooltip":"","group":"98144cc.59f4a3","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"HoloLab/API","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":640,"y":300,"wires":[["9b030855.b6a92"]]},{"id":"3a807b3f.be78fc","type":"ui_switch","z":"3ff2d1ca.bea54e","name":"","label":"Power","tooltip":"","group":"9ca4a501.69d1e","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":630,"y":420,"wires":[[]]},{"id":"81c46a9e.e93cc8","type":"ui_switch","z":"3ff2d1ca.bea54e","name":"","label":"Power","tooltip":"","group":"8a5df934.dc419","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":630,"y":80,"wires":[[]]},{"id":"4cb5698f.c32078","type":"ui_switch","z":"3ff2d1ca.bea54e","name":"","label":"Power","tooltip":"","group":"98144cc.59f4a3","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":630,"y":260,"wires":[[]]},{"id":"d1baed02.521388","type":"mqtt in","z":"3ff2d1ca.bea54e","name":"","topic":"HoloLab/API/Echo","qos":"1","datatype":"auto","broker":"8fc31cbc.3f3be","x":150,"y":200,"wires":[["e7672510.c9bf58","6b813bb6.5b10a4"]]},{"id":"e8c526f1.7fe768","type":"function","z":"3ff2d1ca.bea54e","name":"API/Echo parsing","func":"var msg0={};\nvar msg1={};\nvar msg2={};\n\nif(msg.payload.val[0] === 2)\n    msg0.payload = null;\nelse\n    msg0.payload = Boolean(msg.payload.val[0]);\n    \nif(msg.payload.val[1] === 2)\n    msg1.payload = null;\nelse\n    msg1.payload = Boolean(msg.payload.val[1]);\n    \nif(msg.payload.val[2] === 2)\n    msg2.payload = null;\nelse\n    msg2.payload = Boolean(msg.payload.val[2]);\n\n\nreturn [msg0,msg1,msg2];","outputs":3,"noerr":0,"x":430,"y":300,"wires":[["6d964ac3.ac22b4"],["5fe26397.eee174"],["29402574.d3b7ba"]]},{"id":"e7672510.c9bf58","type":"json","z":"3ff2d1ca.bea54e","name":"","property":"payload","action":"obj","pretty":false,"x":130,"y":280,"wires":[["e42fde54.8a71a"]]},{"id":"3d661605.0467fa","type":"mqtt out","z":"3ff2d1ca.bea54e","name":"HoloLab/API","topic":"","qos":"1","retain":"false","broker":"8fc31cbc.3f3be","x":1110,"y":300,"wires":[]},{"id":"d78bf4c4.6c917","type":"json","z":"3ff2d1ca.bea54e","name":"","property":"payload","action":"","pretty":false,"x":950,"y":300,"wires":[["3d661605.0467fa"]]},{"id":"9b030855.b6a92","type":"function","z":"3ff2d1ca.bea54e","name":"Shutter on/off","func":"if(msg.payload === false)\n    //msg.payload = {\"LED\":0};\n    msg.payload = {\"cd\":\"Shut\",\"val\":[2,0,2],\"t\":[0,0,0]};//0 means off, 1 means on, 2 means ignore\nelse\n    //msg.payload = {\"LED\":1};\n    msg.payload = {\"cd\":\"Shut\",\"val\":[2,1,2],\"t\":[0,0,0]};\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":300,"wires":[["d78bf4c4.6c917"]]},{"id":"e42fde54.8a71a","type":"switch","z":"3ff2d1ca.bea54e","name":"","property":"payload.cd","propertyType":"msg","rules":[{"t":"eq","v":"Shut","vt":"str"},{"t":"eq","v":"Shut0","vt":"str"},{"t":"eq","v":"Shut1","vt":"str"},{"t":"eq","v":"Shut2","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":250,"y":300,"wires":[["e8c526f1.7fe768"],["f269d1e3.e13038"],["d3388e4b.a1296"],["641f6178.ebc8e"]]},{"id":"29402574.d3b7ba","type":"ui_switch","z":"3ff2d1ca.bea54e","name":"","label":"Shutter","tooltip":"","group":"9ca4a501.69d1e","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"HoloLab/API","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":640,"y":460,"wires":[["c8aa0417.d2bdc8"]]},{"id":"6d964ac3.ac22b4","type":"ui_switch","z":"3ff2d1ca.bea54e","name":"","label":"Shutter","tooltip":"","group":"8a5df934.dc419","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"HoloLab/API","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":640,"y":120,"wires":[["a29f4560.815a68"]]},{"id":"f269d1e3.e13038","type":"function","z":"3ff2d1ca.bea54e","name":"API/Echo parsing","func":"msg.payload = Boolean(msg.payload.val);\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":120,"wires":[["6d964ac3.ac22b4"]]},{"id":"d3388e4b.a1296","type":"function","z":"3ff2d1ca.bea54e","name":"API/Echo parsing","func":"msg.payload = Boolean(msg.payload.val);\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":240,"wires":[["5fe26397.eee174"]]},{"id":"641f6178.ebc8e","type":"function","z":"3ff2d1ca.bea54e","name":"API/Echo parsing","func":"msg.payload = Boolean(msg.payload.val);\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":460,"wires":[["29402574.d3b7ba"]]},{"id":"6b813bb6.5b10a4","type":"debug","z":"3ff2d1ca.bea54e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":240,"y":560,"wires":[]},{"id":"a29f4560.815a68","type":"function","z":"3ff2d1ca.bea54e","name":"Shutter on/off","func":"if(msg.payload === false)\n    msg.payload = {\"cd\":\"Shut\",\"val\":[0,2,2],\"t\":[0,0,0]};//0 means off, 1 means on, 2 means ignore\nelse\n    //msg.payload = {\"LED\":1};\n    msg.payload = {\"cd\":\"Shut\",\"val\":[1,2,2],\"t\":[0,0,0]};\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":120,"wires":[["d78bf4c4.6c917"]]},{"id":"c8aa0417.d2bdc8","type":"function","z":"3ff2d1ca.bea54e","name":"Shutter on/off","func":"if(msg.payload === false)\n    msg.payload = {\"cd\":\"Shut\",\"val\":[2,2,0],\"t\":[0,0,0]};//0 means off, 1 means on, 2 means ignore\nelse\n    msg.payload = {\"cd\":\"Shut\",\"val\":[2,2,1],\"t\":[0,0,0]};\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":460,"wires":[["d78bf4c4.6c917"]]},{"id":"295d1b20.0e1164","type":"function","z":"3ff2d1ca.bea54e","name":"Shutter on/off","func":"if(msg.payload === false)\n    msg.payload = {\"cd\":\"Shut\",\"val\":[0,0,0],\"t\":[0,0,0]};//0 means off, 1 means on, 2 means ignore\nelse\n    msg.payload = {\"cd\":\"Shut\",\"val\":[1,1,1],\"t\":[0,0,0]};\n\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":580,"wires":[["d78bf4c4.6c917"]]},{"id":"b98fc357.6e1f88","type":"ui_switch","z":"3ff2d1ca.bea54e","name":"","label":"Global shutter","tooltip":"","group":"19240a5d.1a5c9e","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"HoloLab/API","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":660,"y":580,"wires":[["295d1b20.0e1164"]]},{"id":"98144cc.59f4a3","type":"ui_group","z":"","name":"532nm","tab":"e4de59ef.9888","order":2,"disp":true,"width":"6","collapse":false},{"id":"9ca4a501.69d1e","type":"ui_group","z":"","name":"488nm","tab":"e4de59ef.9888","order":3,"disp":true,"width":"6","collapse":false},{"id":"8a5df934.dc419","type":"ui_group","z":"","name":"633nm","tab":"e4de59ef.9888","order":1,"disp":true,"width":"6","collapse":false},{"id":"8fc31cbc.3f3be","type":"mqtt-broker","z":"","name":"HoloLabVM MQTT Broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"19240a5d.1a5c9e","type":"ui_group","z":"","name":"Global","tab":"e4de59ef.9888","order":4,"disp":true,"width":"6","collapse":false},{"id":"e4de59ef.9888","type":"ui_tab","z":"","name":"Lasers","icon":"dashboard","order":2,"disabled":false,"hidden":false}]