Software/NodeRed Dashboard/Status.txt
[{"id":"c43e3a39.db2fd8","type":"mqtt in","z":"2dfcc1c6.9474be","name":"","topic":"HoloLab/status","qos":"1","datatype":"auto","broker":"8fc31cbc.3f3be","x":160,"y":40,"wires":[["1e566d95.87dee2"]]},{"id":"1e566d95.87dee2","type":"debug","z":"2dfcc1c6.9474be","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":40,"wires":[]},{"id":"7d4edc2e.8c9f7c","type":"inject","z":"2dfcc1c6.9474be","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":140,"wires":[["4f92abe7.3268c4"]]},{"id":"4f92abe7.3268c4","type":"function","z":"2dfcc1c6.9474be","name":"Context","func":"global.set(\"ProjectName\", global.get(\"ProjectName\") || \"My Project Name\");\nglobal.set(\"ProjectDescription\", global.get(\"ProjectDescription\") || \"My Project Desc.\");\nglobal.set(\"ProjectComment\", global.get(\"ProjectComment\") || \"My Project Comment\");\nglobal.set(\"ProjectFilm\", global.get(\"ProjectFilm\") || 0);\nglobal.set(\"ProjectLoad\", global.get(\"ProjectLoad\") || \"\");\n\nglobal.set(\"ProjectRefPow\", global.get(\"ProjectRefPow\") || 0);\nglobal.set(\"ProjectRefAngle\", global.get(\"ProjectRefAngle\") || 56);\nglobal.set(\"ProjectObjPow\", global.get(\"ProjectObjPow\") || 0);\nglobal.set(\"ProjectExpo\", global.get(\"ProjectExpo\") || 0);\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":140,"wires":[["619a8862.5807a"]]},{"id":"619a8862.5807a","type":"debug","z":"2dfcc1c6.9474be","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":140,"wires":[]},{"id":"8fc31cbc.3f3be","type":"mqtt-broker","z":"","name":"HoloLabVM MQTT Broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]